@font-face {
    font-family: "RobotoRegular";
    src: url("../fonts/RobotoRegular/RobotoRegular.eot");
    src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
    url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "RobotoLight";
    src: url("../fonts/RobotoLight/RobotoLight.eot");
    src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoLight/RobotoLight.woff") format("woff"),
    url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body{
	font-family: "RobotoLight";
	font-size: 12px;
	color: #868585;
	background: #fdfcfb;
	font-weight: normal;
	text-transform:uppercase;
}
img{
	max-width:100%;
	height: auto;
}
ht1ml{
	height:100%;
    background:url('../img/main-bg.jpg') center top no-repeat;
    background-size:100% 100%;
}
.prdota{
	width: 500px;
	height: 200px;
}

.prodota{
	background-image:url(../img/33.png);
	min-height: 500px;
}
body{
	background-image: url(../img/main-bg.jpg);
	background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0%;
    padding:3% 0 0;
	margin:0;
	
	
	
	
}
label {
    display: block;
    font-size: 24px;
    color: #fff;
    
    margin-bottom: 5%;
    margin-top: 8%;
    text-align:left;
}
img{
	width:100%;
	max-width:195px;
	padding-bottom: 8%;
	padding-left: 16%;
}
.form-wrapper{
	   
	   width:100%;
    text-align: center;
   
   margin: 0 auto;
}
input{
	width: 100%;
   padding: 7% 0;
    opacity: 0.6;
    border-radius: 5px;
   	
}
form{
	width: 100%;
	max-width:377px;
	margin: 0 auto;
	padding: 15px;
}
button{
	width: 100%;
    margin: 6% auto 0;
    max-width: 200px;
    font-size: 24px;
    background-color: #1bb566;
    border: none;
    opacity: 0.9;
    text-transform: uppercase;
    padding: 4%;
    border-radius: 5px;
    color: #fff;
}